*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
  line-height: 1.15;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Medium";
  font-style: Medium;
  font-weight: 600;
  src: local("SpoqaHanSansNeo-Medium"), local("SpoqaHanSansNeo-Medium"),
    url("../fonts/SpoqaHanSansNeo-Medium.woff") format("woff"),
    url("../fonts/SpoqaHanSansNeo-Medium.otf") format("opentype");
}

@font-face {
  font-family: "SuisseIntl-Book";
  src: url(../fonts/SuisseIntl-Book.woff) format("woff");
  font-weight: 400;
  font-display: block;
}

body {
  font-family: "SuisseIntl-Book", "SpoqaHanSansNeo-Medium";
  font-size: 1rem;
  line-height: 1.65;
  background: #a7291e;

  color: white;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

p {
  word-break: keep-all;
}


.logo {
  position: absolute;
  width: 12.5%;
  top: 20px;
  left: 20px;
  filter: invert(1);
  z-index: 1001 !important;
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(44%, auto));
  grid-template-rows: repeat(8, 1fr);
  left: 93%;
  top: 16px;
  column-gap: 0.25rem;
  row-gap: 0.1rem;
  z-index: 10;
}

.l {
  font-size: 1.4vw;
}

@media only screen and (max-device-width: 812px) and (orientation: portrait) {
  .l {
    font-size: 4vw;
  }
}

.work-space {
  grid-column: 1 / span 1;
  grid-row: 1;
  z-index: 9;
  justify-content: center;
  align-items: center;
}
.work-space-l {
  grid-column: 1 / span 1;
  grid-row: 1;
  z-index: 9;
  justify-content: center;
  align-items: center;
}
.about-space {
  grid-column: 1 / span 1;
  grid-row: 2;
  z-index: 9;
  justify-content: center;
  align-items: center;
}
.about-space-l {
  grid-column: 1 / span 1;
  grid-row: 6;
  z-index: 9;
  justify-content: center;
  align-items: center;
}
.news-space {
  grid-column: 1 / span 1;
  grid-row: 3;
  z-index: 9;

  justify-content: center;
  align-items: center;
}
.news-space-l {
  grid-column: 1 / span 1;
  grid-row: 7;
  z-index: 9;

  justify-content: center;
  align-items: center;
}

.work-space:hover,
.about-space:hover,
.news-space:hover {
  text-decoration: underline;
}

/* sticky box */

nav {
  width: 100%;
  height: 145px;

  background: linear-gradient(#a7291e, 90%, #a72a113b);

  position: sticky;
  top: 0px;
  opacity: 0.9;
  z-index: 2;
}
nav div .sticky {
  display: flex;
  margin: 0;
  justify-content: flex-end;
}

.tomato {
  position: absolute;
  width: 50%;
  margin: 0 auto;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(6px 6px 6px #000);
}

.click {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 55%;
  left: 37.5%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(6px 6px 6px #000);
}

article .container {

  width: 25%;
  height: 120vh;
  position: relative;
  left: 75%;

  z-index: 1;
  overflow: scroll;
}

article h1 {
  font-weight: bold;
  font-size: 1rem;
}

article p,
h1 {
  padding: 1.25rem;
}