html,
body {
  position: relative;
  height: 100%;
}


@font-face {
  font-family: "Noto Sans Kr";
  font-style: Medium;
  font-weight: 600;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url("../fonts/NotoSans-Medium.woff2") format("woff2"),
    url("../fonts/NotoSans-Medium.woff") format("woff"),
    url("../fonts/NotoSans-Medium.eot"),
    url("../fonts/NotoSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: "SuisseIntl-Book";
  src: url(../fonts/SuisseIntl-Book.woff) format("woff");
  font-weight: 400;
  font-display: block;
}

body {
  font-family: "SuisseIntl-Book", "Noto Sans Kr";
  line-height: 1.6;
  color: white;
  overflow: auto;
}

body.custom-cursor {
  cursor: default;
}
.main {
  height: 100%;
}

body[data-scrollmode="native"] .viewport-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
body[data-scrollmode="transform"] .viewport-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.spacer {
  display: block;
  height: 0.2em;
}
a {
  color: inherit;
  text-decoration: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.logo {
  position: fixed;
  width: 21%;
  top: 16px;
  left: 16px;
  filter: invert(1);
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(44%, auto));
  grid-auto-rows: repeat(auto-fill, minmax(44%, auto));
  left: 81%;
  top: 24px;
  column-gap: 4px;
  z-index: 10;
}

.l {
  font-size: 1.5vw;
}

@media screen and (min-width: 1600px) {
  .l {
    font-size: 1.8vw;
  }
}

.work-space {
  grid-column: 1 / span 1;
  z-index: 9;
  justify-content: center;
  align-items: center;
}
.about-space {
  grid-column: 2 / span 1;
  z-index: 9;
  justify-content: center;
  align-items: center;
}
.news-space {
  grid-column: 3 / span 1;
  z-index: 9;

  justify-content: center;
  align-items: center;
}

.work-space:hover,
.about-space:hover,
.news-space:hover {
  text-decoration: underline;
}

.work-space.not-fixed {
  position: relative;
  width: 50%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;



  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 70%;

  object-fit: cover;
}
